<html>
<head>
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

<script type="text/javascript">
$(function() {
	$('#submit').click(function(e) {
		$.post("/new_registration",
			{ 'domains' : $('#domains').val(),
				'label'   : $('#label').val() },
			function(response) {
				response = jQuery.parseJSON(response);
				$("#keys").html("SiteID: " + response.siteID + "<br>" + 
					"Site secret (<b>keep this secret</b>): " + response.secret);
				setInterval(function() {
					window.location.reload()
				}, 2000);
			})
		.error(function(xhr, ajaxOptions, thrownError) {
			$("#keys").html("Error registering: <i>" + xhr.responseText + "</i>");
		})
	});

	$('.delete').click(function(e) {
		var that = this;
		$.post("/delete",
			{ 'siteID' : this.id },
			function(response) {
				$("#keys").html("Successfully deleted registration for SiteID: " + that.id);

				setInterval(function() {
					window.location.reload()
				}, 2000);
			})
		.error(function(xhr, ajaxOptions, thrownError) {
			$("#keys").html("Error deleting: <i>" + xhr.responseText + "</i>");
		})
	});
});
</script>

</head>
<body>
	Hello, <b>{{ session.email }}</b>!
	<br><br>

	{% if not registrations %}
    You don't have any keys registered yet!
    <br><br>
  {% else %}
    You have <b>{{ registrations|length }}</b> keys registered!

    <ol>
    {% for r in registrations %}
	    <li><b>{{ r[0] }}  <button class="delete" id="{{ r[1] }}">Delete</button></b>:
	    	<ul>
	    		<li><i>SiteID</i>: {{ r[1] }}</li>
	    		<li><i>Secret</i>: {{ r[2] }}</li>
	    		<li><i>Domains</i>:
	    			<ul>
	    			{% for d in r[3] %}
	    				<li>{{ d }}</li>
	    			{% endfor %}
	    			</ul>
	    		</li>
	    	</ul>
	    </li>
	  {% endfor %}
	  </ol>
  {% endif %}

  {% if not registrations or registrations|length < maxperuser %}
	Would you like to sign up for a new key?
		<br><br>
		Label:<br>
	  <input type="text" id="label" size="50"/>
	  <br><br>
	  Enter domain names to register on separate lines (not more than 10):<br>
	  <textarea id="domains" rows="10" cols="50"></textarea>
	  <br><br>
	  <button id="submit">Register</button>
	  <br><br>
	  <div id="keys"></div>
	{% else %}
	You've signed up for the maximum allowed number of keys.
	{% endif %}
</body>
</html>